{% extends 'base.html.twig' %}

{% block title 'Homepage' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets 
		'@AppBundle/Resources/public/css/business-frontpage.css' 		
	%}
	<link rel="stylesheet" href="{{ asset_url }}">
	{% endstylesheets %}
{% endblock %}

{% block body_class 'homepage' %}

{% block body %}
<header class="business-header">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="tagline">CDs: Music CDs - Best Buy</h1>
			</div>
		</div>
	</div>
</header>

<div class="container">
	<hr>

	<div class="row">
	    <div class="col-sm-8">
	    	{% for flash_message in app.session.flashBag.get('notice') %}
	    		<div class="flash-notice">
	    			{{ flash_message }}
	    		</div>
	    	{% endfor %}
	        <h2>What We Do</h2>
	        <p>Online shopping from a great selection at CDs &amp; Vinyl Store.</p>
	        <p>Get the latest CDs and exclusive music offers at BestBuy.com. Shop for music CDs, vinyl records, Blu-ray discs and music DVDs from the best new artists.</p>
	        <p>
	            <a class="btn btn-default btn-lg" href="{{ url('store') }}">See our collection &raquo;</a>
	        </p>
	    </div>
	    <div class="col-sm-4">
	        <h2>Contact Us</h2>
	        <address>
	            <strong>CD Music</strong>
	            <br>3481 Melrose Place
	            <br>Beverly Hills, CA 90210
	            <br>
	        </address>
	        <address>
	            <abbr title="Phone">P:</abbr>(021) 888-1155
	            <br>
	            <abbr title="Email">E:</abbr> <a href="mailto:#">mail@example.com</a>
	        </address>
	    </div>
	</div>

</div>

{% endblock %}